SVG-1.2-RFC.rnc
SVG-1.2-RFC.rng
differences-from-v2.txt
draft-rswg-xml2rfcv3-implemented.redxml
draft-rswg-xml2rfcv3-implemented.txt
draft-rswg-xml2rfcv3-implemented.xml.bak
xml2rfcv3-annotated.rng
xml2rfcv3-spec-deprecated.xml
xml2rfcv3-spec.xml
xml2rfcv3.rnc
xml2rfcv3.rnc.folded
